body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background: rgb(175, 199, 216);
    padding: 20px;
    border-radius: 8px;
    width: 280px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    text-align: center;
}



.input-group {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spacer {
    height: 10px;
}

button {
    padding: 10px;
    margin: 5px;
    border: none;
    background-color: #1c5490;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
ul {
    list-style: none;
    padding: 0;
}
ul li {
    margin: 10px 0;
}
ul li a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}
ul li a:hover {
    color: #0056b3;
}
